/* CSS declarations go here */
html, body {
	height: 100%;
	padding: 0px;
}
.container {
	display: table;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	/*margin-top: -48px;
	padding-top: 48px;*/
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.row
{
    display: table-row;
}
.row-navbar
{
	/*height: 48px;*/
}
.row-main
{
    height: 100%;
    margin-bottom: 0px;
}
.index-row-main
{
    height: 100%;
    margin-bottom: 50px;
}
#cpfile
{
	color: gray;
	width: 500px;
	/*text-align: center;*/
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
}
.navbar {
	margin-bottom: 0px;
	padding-right: 10px;
}
.box {
	padding: 0px;
	height: 100%;
	/*width: 100%;*/
	display: table-cell;
	border-style: solid;
	border-radius: 1px;
}
.box-element {
	height: 100%;
	width: 100%;
}
#editor {
	/*position: absolute;*/
	height: 100%;
	width: 100%;
}
.super-select {
	display: block;
	overflow: auto;
	height: 100%;
}
.item {
	height: 50px;
	width: 100%;
	padding: 12px;
	/*text-align: center;
	vertical-align: middle;
	line-height: 50px;*/
	font-size: 1.1em;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
}
.chatbar {
	background-color: black;
	height: 50px;
}
.pseudo-item {
	height: 100%;
	width: 100%;
}
.selected {
	background-color: #3083D6;
}
#upload {
	height: 100px;
	width: 100%;
	border-style: dashed;
	border-width: 5px;
	border-color: gray;
	display: table;
	margin-top: 20px;
	
	/*position: absolute;
	bottom: 0px;*/
}
#filename {
	width: 500px;
}
#brand {
	font-size: 1.2em;
	font-family: 'Vampiro One', cursive;
	cursor: pointer;
}
#upload-text {
	color: gray;
	text-align: center;
	font-size: 1.1em;
	display: table-cell;
	vertical-align: middle; 
}
#choosefile {
	cursor: pointer;
}
.invisible-element {
	display: none !important;
}
#start {
	height: 100%;
	width: 100%;
	background-color: #F0F0E8;
	color: gray;
	font-size: 1em;
	display: table;
}
/*#alpha {
	display: table-row;
}*/
#start-text {
	display: table-row;
	vertical-align: middle;
	text-align: center;
	/*margin-left: 0;
	margin-right: 0;*/
}
#warning-glyph {
	font-size: 3em;
}
#file-dialog {
	width: 300px;
	height: 170px;
	text-align: center;
	margin-top: 0 auto;
}
#slogan {
	color: white;
}
/*#fileform, #codefile {
	visibility: hidden;
	position: abolute;
	top: 0;
	left: 0;
	height: 0%;
	width: 0%;
}*/
/*.unselected {
	background-color: white;
}*/