/* CSS declarations go here */
html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	position: absolute;
	padding: 0px;
	overflow-y: hidden;
	overflow-x: hidden;
    border: 0px;
}
/*#page {
	padding: 0px;
	margin: 0px;
	/*margin-top: -48px;
	padding-top: 48px;*/
	/*-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}*/
.button {
    background-color: #0080ff !important;
}
.button:hover {
    background-color: #005ff7 !important;
}
#cpfile
{
	width: 700px;
	font-size: 1em;
}
div.scrollable {
    overflow: auto;
    position: relative;
    /*border: solid;*/
}
#filename {
	width: 700px;
}
#brand {
	font-size: 3em;
	font-family: 'Cuprum', sans-serif;
	font-style: italic;
    color: white;
}
img.logo {
    height: 100px;
    width: 100px;
}
.invisible-element {
	display: none !important;
}
#start {
	font-size: 1em;
	height: 100%;
	background-color: black; /*#F0F0E8;*/
}
#start-text {
	height: 100vh;
	color: white !important;
	vertical-align: middle;
	text-align: center;
    background-color: black;
}
/*#top-middle {
	width: 100%;
}*/
#top-right {
	padding-top: 14px;
	padding-right: 20px;
	font-size: 1.15em;
	color: #858585;
	text-align: right;
}
#warning-glyph {
	font-size: 3em;
}
#file-dialog {
	width: 300px;
	height: 170px;
	text-align: center;
	margin-top: 0 auto;
}
#slogan {
	font-style: italic;
    color: white;
}
#description {
	font-size: 1.2em;
    color: white;
}
#trending {
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.pointing {
	cursor: pointer;
}
.fillx {
	width: 100%;
}
.filly {
	height: 100%;
}
.centerx {
	margin-left: auto;
	margin-right: auto;
}
.centery {
	margin-top: auto;
	margin-bottom: auto;
}
table {
	border: none;
    margin: 0;
    padding: 0;
    border: 0;
}
td {
	padding: 0;
	margin: 0;
    border: 0;
}
tr {
	padding: 0;
	margin: 0;
    outline: 0;
}
