/* CSS declarations go here */
html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	position: absolute;
	padding: 0px;
	/*overflow: hidden;*/
	overflow-x: hidden;
	overflow-y: hidden;
}
#page {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	/*margin-top: -48px;
	padding-top: 48px;*/
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.row-navbar
{
	box-shadow: 0px 10px 10px #888888;
	-webkit-box-shadow: 0px 10px 10px #888888;
}
.row-main
{
    height: 100%;
}
.left
{
	width: 210px;
}
.right
{
	width: 210px;
}
#cpfile
{
	color: gray;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
}
.navbar {
	margin-bottom: 0px;
	padding-right: 10px;
	background-color: black;
}
.box {
	padding: 0px;
	height: 100%;
	border-style: solid;
	border-radius: 1px;
	border-color: black;
}
.box-element {
	height: 100%;
	width: 100%;
}
#leftbox {
	display: table;
	height: 100%;
}
.super-select {
	overflow: auto;
	height: 100%;
}
.item {
	height: 50px;
	width: 100%;
	padding: 12px;
	font-size: 1.1em;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
}
.selected {
	background-color: #3083D6;
}
#chat {
	margin-right: 20px;
}
#username {
	font-size: 1.2em;
	text-align: center;
}
#stream {
	/*overflow: scroll;*/
	height: 300px;
	width: 100%;
}
.cell {
	display: table-cell;
}
#chat-icon {
	font-size: 1em;
}
#chatbox {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.chatmsg {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 4px;
	margin-right: 4px;
}
.chat-text {
	padding-left: 10px;
}
.talker {
	font-weight: 700;
	margin-bottom: 2px;
	padding: 0px;
}
.talker-me {
	text-align: right;
}
.talker-notme {
}
div.scrollable {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    /*border: solid;*/
}
.mainrow {
	height: 100%;
}
#message {
	width: 100%;
	border-color: gray;
}
#upload {
	height: 100px;
	width: 100%;
	border-style: dashed;
	border-width: 5px;
	border-color: gray;
	margin-top: 20px;
	vertical-align: bottom;
}
#filename {
	width: 500px;
}
#brand {
	font-size: 1.5em;
	font-family: 'Cuprum', sans-serif;
	font-style: italic;
	margin: 0;
	padding: 0;
}
#upload-text {
	color: gray;
	text-align: center;
	font-size: 1.1em;
	vertical-align: middle; 
}
#choosefile {
	cursor: pointer;
}
.invisible-element {
	display: none !important;
}
#start {
	height: 100%;
	width: 100%;
	background-color: #F0F0E8;
	color: gray;
	font-size: 1em;
	display: table;
}
/*#alpha {
	display: table-row;
}*/
#start-text {
	display: table-row;
	vertical-align: middle;
	text-align: center;
}
#warning-glyph {
	font-size: 3em;
}
#file-dialog {
	width: 300px;
	height: 170px;
	text-align: center;
	margin-top: 0 auto;
}
#slogan {
	color: white;
}
.pointing {
	cursor: pointer;
}
#online {
	padding: 7px;
}
#onlinebox {
	padding: 7px;
}
.green {
	color: green;
}
#installss {
	margin: auto;
}
