html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	position: absolute;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
}
#page {
	padding: 0px;
	margin: 0px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*.row-navbar {
	position: relative;
	-webkit-box-shadow: 0 0 2px 10px #888888;
    box-shadow: 0 0 10px 2px #888888;
    z-index: 2;
}
.row-navbar {
	height: 20px;
	font-size: 0.1em;
}*/
td.bar {
	/*background-color: black;*/
	position: relative;
	-webkit-box-shadow: 0 0 2px 10px #666666;
    box-shadow: 0 0 10px 2px #666666;
    z-index: 2;
    font-size: 1em;
}
.navbar-brand, .navbar-nav li a {
    line-height: 35px;
    height: 35px;
    padding-top: 0px;
}
.left
{
	width: 210px;
}
.right
{
	width: 210px;
}
#cpfile
{
	width: 500px;
	font-size: 1em;
}
.navbar {
	margin-bottom: 0px;
	padding-right: 10px;
}
.box {
	padding: 0px;
	z-index: 0;
}
.left {
	position: relative;
	padding: 0px;
	-webkit-box-shadow: 0px 0 2px 10px #666666;
	box-shadow: 0px 0 10px 2px #666666;
	position: relative;
	z-index: 1;
}
.right {
	position: relative;
	padding: 0px;
	-webkit-box-shadow: 0px 0 2px 10px #666666;
	box-shadow: 0px 0 10px 2px #666666;
	position: relative;
	z-index: 1;
}
.super-select {
	overflow: auto;
}
.section {
	font-size: 1em;
	color: blue;
	position: relative;
	z-index: 0;
	padding: 8px;
	height: 30px;
}
.item {
	position: relative;
	height: 50px;
	padding: 12px;
	font-size: 1.1em;
	font-family: 'Roboto', sans-serif;
	z-index: 0;
}
.selected {
	background-color: #3083D6;
}
#editor {
	position: relative;
	z-index: 0;
}
#chat {
	margin-right: 20px;
}
#username {
	font-size: 1.2em;
	text-align: center;
}
#stream {
	/*overflow: scroll;*/
	height: 300px;
}
#chatbox {
	padding: 0px;
	margin: 0px;
}
.chatmsg {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 4px;
	margin-right: 4px;
}
.chat-text {
	padding-left: 10px;
}
.talker {
	font-weight: 700;
	margin-bottom: 2px;
	padding: 0px;
}
.talker-me {
	text-align: right;
}
.talker-notme {
}
div.scrollable {
    overflow: auto;
    position: relative;
    /*border: solid;*/
}
#message {
	border-color: gray;
	position: relative;
	z-index: 0;
}
#upload {
	height: 100px;
	width: 100%;
	border-style: dashed;
	border-width: 5px;
	border-color: gray;
	margin-top: 20px;
	vertical-align: bottom;
}
#filename {
	width: 500px;
}
#brand {
	font-size: 1.5em;
	font-family: 'Cuprum', sans-serif;
	font-style: italic;
	color: white;
}
#upload-text {
	color: gray;
	text-align: center;
	font-size: 1.1em;
}
#choosefile {
	cursor: pointer;
}
.invisible-element {
	display: none !important;
}
#start {
	background-color: #F0F0E8;
	color: gray;
	font-size: 1em;
}
#start-text {
	vertical-align: middle;
	text-align: center;
}
#file-dialog {
	width: 300px;
	height: 170px;
	text-align: center;
	margin-top: 0 auto;
}
.pointing {
	cursor: pointer;
}
#online {
	padding: 7px;
}
#onlinebox {
	padding: 7px;
}
.green {
	color: green;
}
.red {
	color: #8F0000;
}
.penciling {
	margin-right: 5px;
}
.item-main {
	padding: 4px;
}
.fillx {
	width: 100%;
}
.filly {
	height: 100%;
}
.centerx {
	margin-left: auto;
	margin-right: auto;
}
.centery {
	margin-top: auto;
	margin-bottom: auto;
}
.ace_marker-layer .mark {
	position: absolute;
	z-index: 4;
	background: #DFFF9E;
}
.ace_marker-layer .mark-self {
	position: absolute;
	z-index: 4;
	background: #FFFFCC;
}
.ace_marker-layer .mark-cursor {
	position: absolute;
	z-index: 4;
	border-left-style: solid;
	border-left-color: red;
	border-left-width: 1px;
}
table {
	border: none;
}
td {
	padding: 0;
	margin: 0;
}
tr {
	padding: 0;
	margin: 0;
}
