/* CSS declarations go here */
html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	position: absolute;
	padding: 0px;
	/*overflow: hidden;*/
	/*overflow-x: hidden;*/
}
/*#page {
	padding: 0px;
	margin: 0px;
	/*margin-top: -48px;
	padding-top: 48px;*/
	/*-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}*/
.button {
    background-color: #0080ff !important;
}
.button:hover {
    background-color: #005ff7 !important;
}
#updates a {
    color: #005ff7 !important;
}
a:hover {
    text-decoration: none !important;
}
#cpfile
{
	width: 700px;
	font-size: 1em;
}
div.scrollable {
    overflow: auto;
    position: relative;
    /*border: solid;*/
}
#filename {
	width: 700px;
}
#brand {
	font-size: 2em;
	font-family: 'Cuprum', sans-serif;
	font-style: italic;
    color: white;
}
#brand-main {
	font-size: 3em;
	font-family: 'Cuprum', sans-serif;
	font-style: italic;
    color: white;    
}
img.logo {
    height: 100px;
    width: 100px;
}
.invisible-element {
	display: none !important;
}
#start {
	font-size: 1em;
	height: 100%;
	background-color: black; /*#F0F0E8;*/
}
#start-text {
	height: 100vh;
	color: white;
}
#updates {
}
#updates-holder {
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 50px;
    text-align: left;
    background-color: #F0F0E8;
    color: #4b4b4b;
}
#updates-holder > h4 {
    color: #4b4b4b;
}
#search {
    width: 500px;
}
.update {
    /*outline: 1px solid gray;*/
    margin: 20px;
}
.hovered {
    /*border-style: solid;
    border-color: gray;*/
}
.picture > img {
    min-height: 70px;
    min-width: 70px;
}
.picture {
    height: 70px;
    width: 70px;
    /*width: 50px;*/
}
.text {
    vertical-align: middle;
}
tr.activity {
    
}
td.activity {
    padding: 10px;
}
p.activity {
    font-size: 0.9em;
}
tr.peripheral {
}
td.peripheral {
    text-align: right;
    padding-right: 10px;
}
p.peripheral {
    font-size: 0.75em !important;
}
.time {
    text-align: right;
    font-size: 0.65em !important;
}
.update-inner * td {
    white-space: nowrap;
}
#content > td {
	/*height: 100vh;*/
    padding-top: 10px;
	color: white;
	text-align: center;
    background-color: black;
}
.spacer {
    height: 9px;
}
/*.hovered {
    outline: 2px solid gray;
}*/
/*#top-middle {
	width: 100%;
}*/
#top-bar {
    height: 50px;
}
#top-left {
    padding: 10px;
    min-width: 220px;
}
#top-left > i {
    font-size: 2em;
    color: white;
}
#top-middle {
    padding-left: 10px;
}
#top-right {
	padding-right: 20px;
	font-size: 1.15em;
	color: #858585;
	text-align: right;
    min-width: 220px;
}
#warning-glyph {
	font-size: 3em;
}
#file-dialog {
	width: 300px;
	height: 170px;
	text-align: center;
	margin-top: 0 auto;
}
#slogan {
	font-style: italic;
}
#description {
	font-size: 1.2em;
}
.pointing {
	cursor: pointer;
}
.fillx {
	width: 100%;
}
.filly {
	height: 100%;
}
.centerx {
	margin-left: auto;
	margin-right: auto;
}
.centery {
	margin-top: auto;
	margin-bottom: auto;
}
table {
	border: none;
}
td {
	padding: 0;
	margin: 0;
}
tr {
	padding: 0;
	margin: 0;
}
